@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: relative;
  font-family: 'Inter', sans-serif;
  padding: 10px 20px;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  margin: 0;
}

.profile-icon {
  width: 35px;
  position: absolute;
  top: 13px;
  right: 30px;
}

:root {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}